<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Workouts</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">My Fitness App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'change_name' %}">Change Name</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'workoutAll' %}">Workouts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8">
        <h2>My Workouts</h2>
        <ul class="list-group mt-3">
          {% for workout in workouts %}
            <li class="list-group-item">
              <a href="{% url 'workout_detail' workout.id %}">{{ workout.name }} - {{ workout.date }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-8">
        <a href="{% url 'create_workout' %}" class="btn btn-primary">Create Workout</a>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-block mt-3" style="width: 100px;">Back</a>
      </div>
    </div>
  </div>
</body>
</html>
